.dashboard-view {
  background-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: block;
  font-size: var(--lumo-font-size-m);
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

.dashboard-view vaadin-board {
  margin: 0 auto;
  max-width: 1024px;
}

/* Wrapper */
.dashboard-view .wrapper {
  display: flex;
  padding: var(--lumo-space-s);
}

/* Card */
.dashboard-view .card {
  align-items: baseline;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  text-align: center;
  height: 115px;
  text-align: center;
}

.dashboard-view .card h2 {
  /*margin-bottom: 0;*/
  margin-top: var(--lumo-space-m);
}

.dashboard-view .card h3 {
  margin-bottom: var(--lumo-space-xs);
  margin-left: var(--lumo-space-m);
  margin-top: var(--lumo-space-m);
}

/* Spacing */
.dashboard-view .space-m {
  padding: var(--lumo-space-m);
}

/* Text colors */
.dashboard-view .error-text {
  color: var(--lumo-error-text-color);
  display: block;
  text-align: center;
  width: 100%;
}

.dashboard-view .primary-text {
  color: var(--lumo-primary-text-color);
  display: block;
  text-align: center;
  width: 100%;
}

.dashboard-view .secondary-text {
  /*color: var(--lumo-secondary-text-color);*/

  display: block;
  text-align: center;
  font-size: 18px;
  width: 100%;
  background-color: rgb(35, 51, 72);
  padding: 5px;
  color: white;

}

.dashboard-view .success-text {
  color: var(--lumo-success-text-color);
  display: block;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

/* Charts */
.dashboard-view vaadin-chart {
  padding-top: var(--lumo-space-s);
}

/* Grid */
.dashboard-view vaadin-grid {
    height: 300px;
}
